<div xmlns:hive="http://typo3.org/ns/HIVE/HiveCptCntGoogleMap/ViewHelpers">
    <f:layout name="Default" />
    <f:section name="Main">
        <f:if condition="{iMapUid}">
            <hive:cptCntGoogleMap uid="{iMapUid}" pluginUid="{iPluginUid}"/>
        </f:if>
    </f:section>
</div>